body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}


.topcontainer {
    background-color: #94B49F;
    position: relative;
    padding-top: 100px;
    margin: 0;

}

h1 {
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.middle-container {}

.bottom-container {}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pro {
    text-decoration: underline;
}

.icon {
    width: 200px;
    height: 200px;
}