body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}


.topcontainer {
    background-color: #2C3333;
    position: relative;
    padding-top: 100px;
    margin: 0;

}

hr {
    border: 6px dotted #2C3333;
    border-bottom: none;
    width: 50px;
    margin: 100px auto;
}

h1 {
    font-size: 562%;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #395B64;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.625rem;
    color: #395B64;
    font-weight: normal;
}

h3 {
    color: #A5C9CA;
}

p {
    color: #40514E;
    text-align: center;
    line-height: 2;
}

.profiledesc {
    width: 50%;
    margin: auto auto 50px auto;
}

.myskills {
    margin-top: 100px;
    margin-bottom: 0px;
}

a {
    color: #A5C9CA;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.middle-container {
    padding-top: 100px;
}

.bottom-container {
    background-color: #2C3333;
    margin-top: 50px;
    padding: 50px 0 16px;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}


.icon {
    width: 200px;
    height: 200px;
}

.iconbelow {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
}

.iconbelow2 {
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 30px;
}

.heading3 {
    text-align: left;
    position: relative;
    top: 20px;
}

.skills {
    margin-bottom: 100px;
}

.skilldescription {
    text-align: left;
    position: relative;
    display: inline;
}

.bottomhr {
    margin-top: 200px;
}


.last {
    color: #A5C9CA;
    font-size: 0.75rem;
    padding: 20px 0px 0px;
}


.feelfree {
    margin-bottom: 30px;
}

.btn {
    background: #2C3333;
    background-image: -webkit-linear-gradient(top, #2C3333, #40514E);
    background-image: -moz-linear-gradient(top, #2C3333, #40514E);
    background-image: -ms-linear-gradient(top, #2C3333, #40514E);
    background-image: -o-linear-gradient(top, #2C3333, #40514E);
    background-image: linear-gradient(to bottom, #2C3333, #40514E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #A5C9CA;
    background-image: -webkit-linear-gradient(top, #A5C9CA, #45c7a4);
    background-image: -moz-linear-gradient(top, #A5C9CA, #45c7a4);
    background-image: -ms-linear-gradient(top, #A5C9CA, #45c7a4);
    background-image: -o-linear-gradient(top, #A5C9CA, #45c7a4);
    background-image: linear-gradient(to bottom, #A5C9CA, #45c7a4);
    text-decoration: none;
}